name: 'template_service'

services:
  
  domic.template.service:
    networks:
      - domic
    image: domic_template_service_image:1.0.0
    container_name: "domic_template_service"
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - 80:443
    volumes:
      - ~/services/Logs/Domic-TemplateService/:/app/CoreLogs/
      - ~/services/Domic-TemplateService/.https/:/https/
    environment:
      - Elastic-Host=http://domic.elastic.search:9200
      - Elastic-Index=template
      - Elastic-Username=domic
      - Elastic-Password=Domic123!@#
      - E-RabbitMQ-Host=domic.rabbit.mq
      - E-RabbitMQ-Port=5672
      - E-RabbitMQ-Username=domic
      - E-RabbitMQ-Password=Domic123!@#
      - I-RabbitMQ-Host=
      - I-RabbitMQ-Port=
      - I-RabbitMQ-Username=
      - I-RabbitMQ-Password=
      - E-RedisConnectionString=domic.redis:6379
      - I-RedisConnectionString=domic.template.redis:6379
      - MongoConnectionString=
      - C-SqlServerConnectionString=Server=domic.template.command.sql.server,1433;Database=TemplateService;User ID=sa;Password=Hasan313@@313!!;Persist Security Info=True;MultipleActiveResultSets=True;TrustServerCertificate=True;
      - Q-SqlServerConnectionString=Server=domic.template.query.sql.server,1433;Database=TemplateService;User ID=sa;Password=Hasan313@@313!!;Persist Security Info=True;MultipleActiveResultSets=True;TrustServerCertificate=True;
      - Host=domic.template.service
      - Port=80
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Domic123!@#
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Domic.WebAPI.pfx
    
    depends_on:
      - domic.template.command.sql.server
      - domic.template.query.sql.server
      - domic.template.redis
      - domic.template.rabbit
  
  domic.template.command.sql.server:
    networks:
      - domic
    image: 'mcr.microsoft.com/mssql/server'
    container_name: "domic_template_command_sql_server"
    ports:
      - 1433:1433
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Domic123!@#
  
  domic.template.query.sql.server:
    networks:
      - domic
    image: 'mcr.microsoft.com/mssql/server'
    container_name: "domic_template_query_sql_server"
    ports:
      - 1400:1433
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Domic123!@#

  domic.template.rabbit:
    networks:
      - domic
    image: 'rabbitmq:3-management'
    container_name: 'domic_template_rabbit'
    restart: on-failure
    ports:
      - '15660:15672'
      - '5660:5672'
    environment:
      - RABBITMQ_DEFAULT_USER=domic
      - RABBITMQ_DEFAULT_PASS=Domic123!@#

  domic.template.redis:
    networks:
      - domic
    image: 'redis'
    container_name: 'domic_template_redis'
    command: 'redis-server'
    ports:
      - 6380:6379

volumes:
  log:
    
networks:
  domic:
    external: true